{% extends 'reservations/base.html' %}

{% block content %}
<h1>Varattavat tilat</h1>
<div class="row">
    {% for room in rooms %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ room.name }}</h5>
                <p class="card-text">{{ room.description }}</p>
                <p>Kapasiteetti: {{ room.capacity }} henkilöä</p>
                <a href="{% url 'make_reservation' room.id %}" class="btn btn-primary">Varaa tila</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}